.root-page {
  background-color: $background;
}

.game-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.splash {
  padding: 50px;

  a {
    color: $link;
  }
  
  a:hover {
    color: $link-hover;
  }
}