.root-page {
  h1 {
    font-family: $sans-bold;
  }
}

.backdrop {
  position: fixed;
  z-index: -1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-color: $background;
}

.game-section {
  display: block;
}

.splash {
  padding: 50px;

  a {
    color: $link;
  }
  
  a:hover {
    color: $link-hover;
  }
}